/* button{
    text-align:center;
    color:var(--third-light);
    background-color: var(--primary-color);
    padding:1.1em 2em;
    border-radius:30px;
    transition: background-color 0.3s ease;
    cursor:pointer;
    border: 1px transparent solid;
    width:260px;
    margin: 2em 0em;
    font-size:inherit;
}

button:hover{
    background-color: var(--primary-dark);
}

.login-input{
    font-size:20px;
    border-radius:16px;
    background-color: var(--third-color);
    color: var(--secondary-color);
    border:none;
    padding:0.6em;
}

.login-input:focus{
    outline:none;
    caret-color: var(--secondary-color);
} */