.login-layout{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns:60% 40%;
    background-color:var(--secondary-dark);
    color:var(--primary-color);
}

.login-layout h3{
    padding-bottom:10px;
}

.login-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.register-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--primary-dark);
    color:var(--third-light);
    text-align:center;
}

.register-container h1{
    font-size: 60px;
}

.register-container p{
    font-size:24px;
    margin:0 2em;
}

.register-container button{
    background-color:var(--third-light);
    border:none;
    border-radius:30px;
    color:var(--secondary-dark);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    padding:1.1em 2em;
    text-align:center;
    margin: 2em 0em;
    font-size:inherit;
    transition: background-color 0.3s ease;
    cursor:pointer;
}

.register-container button:hover{
    background-color: var(--third-color);
}

.login-button{
    text-align:center;
    color:var(--third-light);
    background-color: var(--primary-color);
    padding:1.1em 2em;
    border-radius:30px;
    transition: background-color 0.3s ease;
    cursor:pointer;
    border: 1px transparent solid;
    width:260px;
    margin: 2em 0em;
    font-size:inherit;
}

.login-button:hover{
    background-color: var(--primary-dark);
}

.login-form{
    display:flex;
    flex-direction:column;
    text-align: left;
    font-size:17px;
    align-items: center;
    flex:1;
}

.login-header{
    text-align:center;
    font-size:60px;
    margin:0;
}

.login-subheader{
    color:var(--third-darker);
    border-bottom:1px solid var(--third-color);
    margin:0;
}


.register-guest{
    text-align:center;
}

.login-child{
    display:flex;
    flex-direction: column;
    margin: 0.6em 0;
    min-width:380px;
    min-width:200px;
}

.remember-row{
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
}

.login-input{
    font-size:20px;
    border-radius:16px;
    background-color: var(--third-color);
    color: var(--secondary-color);
    border:none;
    padding:0.6em;
}

.login-input:focus{
    outline:none;
    caret-color: var(--secondary-color);
}

@media only screen and (max-width: 600px) {
    .login-layout{
        display:flex;
        flex-direction:column;
    }

    .login-container{
        flex:1;
    }

    .login-child{
        width:auto;
    }
}