#root {
  /* color variable declarations */
  --primary-lighter: #b7524d;
  --primary-light: #b24640;
  --primary-color: #a82d27;
  --primary-dark:#942822;

  --secondary-lighter:#616268;
  --secondary-light:#45474e;
  --secondary-color:#30323a;
  --secondary-dark:#2b2d34;

  --third-light:#FFFFFF; 
  --third-color: #E6E6E6;
  --third-dark: #D9D9D9;
  --third-darker: #717473;

  background-color:var(--third-light);
  color:var(--secondary-color);
  display:flex;
  font-family: 'Switzer', sans-serif;
  font-weight:400;
}

h2{
  padding:0;
  margin:0;
}

/* fonts */
.switzer-regular{
  font-family: 'Switzer', sans-serif;
  font-weight:400;
}

.switzer-bold{
  font-family: 'Switzer', sans-serif;
  font-weight:700;
}

.app-wrapper {
  width: 100%;
}