@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* color variable declarations */
  --primary-lighter: #b7524d;
  --primary-light: #b24640;
  --primary-color: #a82d27;
  --primary-dark:#942822;

  --secondary-lighter:#616268;
  --secondary-light:#45474e;
  --secondary-color:#30323a;
  --secondary-dark:#2b2d34;

  --third-light:#FFFFFF; 
  --third-color: #E6E6E6;
  --third-dark: #D9D9D9;
  --third-darker: #717473;

  background-color:var(--secondary-dark);
  color:var(--primary-color);
  display:flex;
  font-family: 'Switzer', sans-serif;
  font-weight:400;
}

body, html {
  height:100%;
  margin:0;
  padding:0;
}

/* fonts */
.switzer-regular{
  font-family: 'Switzer', sans-serif;
  font-weight:400;
}

.switzer-bold{
  font-family: 'Switzer', sans-serif;
  font-weight:700;
}

/* login page text inputs */
.login-input{
    font-size:20px;
    border-radius:16px;
    background-color: var(--third-color);
    color: var(--secondary-color);
    border:none;
    padding:0.6em;
}

.login-input:focus{
    outline:none;
    caret-color: var(--secondary-color);
}

/* login page buttons */
button{
    text-align:center;
    color:var(--third-light);
    background-color: var(--primary-color);
    padding:1.1em 2em;
    border-radius:30px;
    transition: background-color 0.3s ease;
    cursor:pointer;
    border: 1px transparent solid;
    width:260px;
    margin: 2em 0em;
    font-size:inherit;
}

button:hover{
    background-color: var(--primary-dark);
}
