header{
    width:100%;
    position:relative;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color:var(--third-light);
    background-color:var(--primary-color);
    box-sizing: border-box;
    padding:10px;
}

.header-title h1 {
    cursor:pointer;
    transition: color 0.2s ease;
    margin:6px;
}

.header-title:hover h1{
    color:var(--third-dark);
}

.header-logout{
    position:absolute;
    left:16px;
}

@media only screen and (orientation: portrait) {
    header{
        text-align:center;
        flex-direction:column;
    }

    .header-logout{
        position:relative;
        left:0;
    }
}