.signout-button{
    text-wrap:nowrap;
    padding:12px;
    border:none;
    border-radius:14px;
    font-size:18px;
    background-color:var(--primary-color);
    transition: background-color ease 0.2s;
    cursor:pointer;
    color:var(--third-light);
    text-align: left;
}

.signout-button span{
    padding-left:16px;
}

.signout-button:hover{
    background-color:var(--primary-dark);
}

@media only screen and (max-width: 600px) {
    .signout-button{
        position:relative;
        left:0;
    }
}